body{background: linear-gradient(to top, #a1a1a1b6, #000000);
height: 100vh;
background-attachment: fixed;
text-align: center;}

.nana {text-align: center;
font-family: Encode Sans SC;
font-size: 20px;
text-shadow:
0 0 5px #ffffff, 
0 0 10px #ffffff, 
0 0 20px #ffffff,
0 0 40px #ffffff;
border: 1px solid rgb(0, 0, 0);
display: inline-block;
margin: 20px auto;
padding-left: 30px;
padding-right: 30px;
box-shadow: 
0 0 5px #000000, 
0 0 10px #000000, 
0 0 20px #000000,
0 0 40px #000000;
border-radius: 50% / 80px;
background-color: #ffffff18;}

.nani h3 {color: rgb(0, 0, 0);
margin: auto;
text-align: center;
padding-left: 10px;
font-size: 18px;
font-family: Encode sans SC;
text-shadow: 0 0 5px #eaeaeaff, 
0 0 10px #eaeaeaff, 
0 0 20px #eaeaeaff,
0 0 40px #eaeaeaff;}


.ani {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo,  red,orange, yellow,green,blue , indigo , red , orange , yellow , green , blue , indigo , red , orange , yellow , green , blue , indigo , red , orange , yellow , green , blue , indigo, red , orange, yellow, green, blue, indigo, red);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: moveColors 3.8s linear infinite;
}

@keyframes moveColors {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.nani h4 {color: rgb(0, 0, 0);
    margin-bottom: auto;
text-align: center;
padding-left: 10px;
font-size: 18px;
font-family: Encode sans SC;text-shadow: 0 0 5px #eaeaeaff, 
0 0 10px #eaeaeaff, 
0 0 20px #eaeaeaff,
0 0 40px #eaeaeaff;}
















